@charset "UTF-8";

/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

/*****************************************************************************************************************
 * Alta UI bug fixes and enhancements
 ****************************************************************************************************************/

/*
 * Start of panelFormLayout
 */
 
/* in panelFormLayout, use consistent line-height for better horizontal
 * alignment and vertical distribution. 
 */
af|panelFormLayout {
  line-height: 28px;
}

/* use the same padding for the top and bottom of the content-cell to simplify
 * the logic of vertical spacing between cells.
 */
af|panelFormLayout::content-cell,
.AFPanelFormLayoutContentCell {
  padding-top: 3px;
  padding-bottom: 3px;
}

/* ensure panelLabelAndMessage in a panelFormLayout uses the same padding */
af|panelLabelAndMessage::content-cell.AFPanelFormLayoutContentCell {
  padding-top: 3px;
  padding-bottom: 3px;
}

/* label-cell needs the same paddings as the content-cell  */
af|panelFormLayout::label-cell {
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align: top;  /* more commonly expected */
}

/* uses line-height and vertical-align (instead of padding) to line up 
 * the label-cell with the corresponding content-cell. this approach 
 * is supposed to work better in most cases, and provides the consistent
 * styling for top, middle and bottom vertical-align of the label cell.
 */
af|panelFormLayout::label-cell label {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  line-height: 28px;
  padding-top: 0;
  padding-bottom: 0;
  white-space: nowrap; /* more commonly expected */
}

/*
 * Start of inputText
 */
af|inputText:multi-row af|inputText::label {
  padding-top: 3px; /* padding-top: 0px; (6644) */
}

af|inputText:read-only .AFPanelFormLayoutContentCell,
af|inputText:multi-row .AFPanelFormLayoutContentCell {
  padding-top: 3px; /* padding-top: 0px; (6736) */
}

@agent webkit {
  af|inputText::label {
    padding-top: 3px;
  }

  af|inputText:multi-row af|inputText::label {
    padding-top: 3px;
  }
  
  af|inputText:multi-row:read-only af|inputText::label {
    vertical-align: inherit;
    padding-top: 3px;
  }    
}

/* uses the same line-height to ensure consistent vertical distribution even
 * when grouped with other components.
 */
af|selectOneRadio::content {
  line-height: 28px;
}

@agent webkit {
  af|selectOneRadio af|panelFormLayout::label-cell {
    padding-top: 3px; /* padding-top: 7px; (10392) */
  }    
}

/* bugfix: the selectOneRadio component has horizontal padding, but it's 
 * missing from the selectBooleanRadio. See alta-v1-desktop.css:10151.
 */
af|selectBooleanRadio::content-input {
  padding: 0px 3px 0px 2px; 
}
af|selectBooleanRadio::content-input:rtl {
  padding-right: 2px;
  padding-left: 3px;
}

/* bugfix: When the inputDate component is grouped with other sibling components in a
 * panelGroupLayout component, and placed in a panelLabelAndMessage component, and then in a
 * panelFormLayout component, it might not be vertically aligned properly in webkit browsers.
 */
@agent webkit {
  af|panelLabelAndMessage::content-cell.AFPanelFormLayoutContentCell af|inputDate {
    vertical-align: middle; /* vertical-align: 50%; (ln:6133) */
  }
}

